<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:networkSecurityConfig="@xml/backend_network_security">
        <activity
            android:name=".feature.cashier.prototype.CashierPrototypeActivity"
            android:exported="true"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".feature.cashier.prototype.CashierPaymentPreviewActivity"
            android:exported="true"
            android:screenOrientation="unspecified" />
    </application>
</manifest>
